<nav class="navbar navbar-light bg-primary navbar-fixed-side" style="margin-bottom:40px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family:Risque, cursive; font-size:40px; line-height:34px;">&nbsp;&nbsp; {{ siteTitle }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser }}
          <li class="nav-item"><a class="nav-link" href="{{ logoutPath }}">Logout</a></li>
        {{else }}
          <li class="nav-item"><a class="nav-link" href="{{ loginPath }}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ newUserPath }}">Register</a></li>
        {{/if }}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>










