<div class="container-fluid">
  <div class="row" style="margin-top:1em;">
    <div class="col-sm-6 col-sm-offset-3">
        <h3> User: {{user.fname}} {{user.lname}} </h3>
        <table class="table">
        <tr><td><h4>First Name</h4></td><td style="border: 2px solid black; "><h5>{{user.fname}}</h5></td></tr>
        <tr><td><h4>Last Name</h4></td><td style="border: 2px solid black; "><h5>{{user.lname}}</h5></td></tr>
        <tr><td><h4>Email</h4></td><td style="border: 2px solid black; "><h5>{{user.email}}</h5></td></tr>
        <tr><td><h4>Token</h4></td><td style="border: 2px solid black; "><h5>{{user.token}}</h5></td></tr>
        <table>
      </form>
    </div>
  </div>
</div>
